<!DOCTYPE html>
<html>
<head>
  <title>Simple Chat</title>
  <script type="module">
    import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
  </script>
  <link rel="stylesheet" href="/stylesheet.css" type="text/css">
</head>
<body>
  <turbo-stream-source src="ws://localhost:9292/ws"></turbo-stream-source>
  <div id="container" class="chat-container">
    <div id="content">
    </div>
    <%= erb :chat_form %>
  </div>
</body>
</html>
