<turbo-frame id="chat-form">
  <form action="/chat" method="post" class="chat-form">
    <input id="message" type="text" name="message" />
    <button type="submit">Submit</button>
  </form>
</turbo-frame>
