<turbo-stream action="update" target="content">
  <template>
    <h1>Select candidate's experience level</h1>

    <form action="/personality-test" method="post">
      <input type="hidden" name="industry" value="<%= @industry %>">
      <input type="hidden" name="position" value="<%= @position %>">

      <select name="experience_level" id="experience_level">
        <% @experience_levels.each do |level| %>
          <option value="<%= level %>"><%= level %></option>
        <% end %>
      </select>

      <button type="submit">Submit</button>
    </form>
  </template>
</turbo-stream>
